@import './valiables.scss';

.container {
  width: 100%;
  max-width: 480px;
  margin: auto;
}

.accordion {
  width: 80%;
  margin: 18px auto;
  color: $fontGray;
  border-top: 1px solid $tableBorder;
  border-bottom: 1px solid $tableBorder;
}

.accordionHeading {
  background: $white-;
  padding: 14px 0;
  justify-content: space-between;
  text-align: left;

  p {
    letter-spacing: 1.2px;
    display: inline;
    font-weight: bold;
    margin-left: 5px;
    font-size: $large;
    line-height: 1.6;
  }

  #toggle {
    cursor: pointer;
    display: inline;
    float: right;
    margin-right: 5px;
  }
}

.accordionContent {
  background: $white-;
  display: flex;
  overflow: hidden;
  transition: all 600ms ease-in-out;
  height: 0;
  opacity: 0;
}

.accordionContent.show {
  height: 180px;
  opacity: 1;
}
