@import './valiables.scss';

body {
    background-color: $white;
}

#app {
    width: 100%;
    height: 100%;
    padding: 0;
    position: absolute;
    background-color: $white;
}

#menu {
    width: 270px;
    height: 100%;
    left: 130px;
    display: inline-block;
    background: $BackSkyBlue;
    position: absolute;
    box-shadow: 4px 0px 2px $shadowGray;
    #copy {
        position: absolute;
        bottom: 15px;
        left: 15px;
        font-size: x-small;
        color: $fontWhite;
    }
}

#userInfo {
    width: 1000px;
    top: 60px;
    left: 399px;
    position: absolute;
    p, button {
        float: right;
        margin-right: 7px;
    }
    p {
        line-height: 28px;
    }
}

#route {
    width: 1000px;
    height: calc(100% - 150px);
    padding: 20px 0px;
    background-color: $white;
    display: inline-block;
    top: 90px;
    left: 399px;
    position: absolute;
    border-radius: 0px 10px 10px 0px;
    border: 1px solid $shadowGray;
    box-shadow: 4px 4px 2px $shadowGray;
}

.user_btn_blue {
    @include button( $BackSkyBlue, $white, $BackSkyBlue, 60px, 28px );
    text-decoration: none;
    display: inline-block;
}

.user_btn_gray {
    @include button( $BackGray, $fontGray, $tableBorder, 60px, 28px );
    text-decoration: none;
    display: inline-block;
}