@import './valiables.scss';

#certificationWrap {
    width: 100%;
    #certification {
        -webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	            animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
        width: 90%;
        margin: 70px auto;
        padding-top: 30px;
        text-align: center;
        p {
            margin-bottom: 10px;
        }
        #pSet {
            margin-bottom: 60px;
        }
        #inputSet {
            margin: 10px auto;
            input {
                height: 28px;
                border: 1px solid $tableBorder;
                border-radius: 5px;
            }
            label {
                padding-left: 5px;
            }
        }
        #buttonSet {
            margin-top: 60px;
        }
    }
}

#certificationAction {
    width: 100%;
    #buttonWrap {
        -webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	            animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
        margin-top: 130px;
        margin-bottom: 50px;
        text-align: center;
        button {
            font-weight: bold;
            width: 160px;
            box-shadow: 1px 1px 1px 1px $BackGray;
        }
    }
    #imageWrap {
        -webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	            animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
        width: 80%;
        height: max-content;
        text-align: center;
        img {
            width: 200px;
            height: 200px;
        }
    }
}