@import './valiables.scss';

#certificationWrap {
    #certification {
        width: 100%;
        position: absolute;
        top: 290px;
        text-align: center;
        #inputSet {
            .inputSelect {
                width: 60%;
            }
            label {
                margin-left: 5px;
                color: $White;
            }
        }
        #messages {
            margin: 20px auto;
            color: $White;
        }
        .btn {
            @include button($White, $Main1, 70%);
        }
    }
}

#certificationAction {
    #buttonWrap {
        text-align: center;
        #pdfmake {
            @include button($White, $Main1);
            position: relative;
            top: -40px;
        }
    }
    #imageWrap {
        width: 70%;
        margin: 50px auto;
        img {
            width: 100%;
        }
    }
}