@import "./valiables.scss";

#feedWrap {
  #arrange {
    text-align: center;
    #selectDesc {
      position: relative;
      top: -30px;
      color: $White;
      font-size: $Large;
      text-align: center;
      margin-bottom: 10px;
    }
    .inputSelect {
      width: 50%;
      position: relative;
      top: -30px;
      border-radius: 10px;
    }
  }
  #feedItemsWrap {
    margin-top: 50px;
    .active {
      background-color: $Green;
    }
    .none {
      background-color: $Gray;
    }
    #feedItem {
      width: 40%;
      margin: 4.7%;
      text-align: center;
      border-radius: 20px;
      border: 1px solid $Gray;
      display: inline-block;
      #date {
        line-height: 30px;
      }
      #state {
        line-height: 30px;
      }
      #distance {
        line-height: 30px;
      }
      #name1 {
        background-color: $White;
        border: 1px solid $White;
        line-height: 20px;
        padding-top: 10px;
      }
      #name2 {
        background-color: $White;
        border: 1px solid $White;
        border-radius: 0 0 20px 20px;
        line-height: 20px;
        padding-bottom: 10px;
      }
    }
  }
}

#feedDetail {
  padding-bottom: 40px;
  #activity_detail {
    .headerInfo {
      position: relative;
      top: -60px;
      margin-left: 10%;
      p {
        font-size: $Large;
        color: $White;
      }
    }
    #map {
      width: 80%;
      height: 300px;
      background-color: $White;
      border: 1px solid $Gray;
      line-height: 300px;
    }
    #review {
      width: 80%;
      border-radius: 20px;
      border: 1px solid $Gray;
      background-color: $White;
      margin-top: 30px;
      margin-bottom: 70px;
      text-align: center;
      #header {
        font-size: $Normal;
        font-weight: 600;
        margin: 20px auto 5px auto;
      }
      #textarea {
        margin: 30px auto;
        #text {
          width: 96%;
          height: max-content;
          text-align: justify;
        }
        .inputText {
          width: 96%;
          height: 250px;
        }
      }
      #blueBtn {
        @include button();
        margin-bottom: 20px;
      }
    }
  }
}