@import "./valiables.scss";

.find {
  .find_input {
    text-align: center;
    * {
      font-size: $Normal;
    }
    input[name="stdId"] {
      @include inputTextTop();
      border: 1px solid $Gray;
      margin: 0 auto;
    }
    input[name="name"] {
      @include inputText();
      border: 1px solid $Gray;
      font-size: $Normal;
      margin: 5px auto;
    }
    input[type=date] {
      @include inputTextBottom();
      border: 1px solid $Gray;
      margin: 0 auto;
    }
    button {
      @include button();
      margin: 70px auto;
    }
  }
}

.find_auth {
  color: $White;
  text-align: center;
  .coment {
    margin-bottom: 10px;
  }
  .find_button {
    @include button();
    margin: 70px auto;
  }
}