@import './valiables.scss';

#landing_back {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    background-image: linear-gradient(210deg,$BackSky-,$BackBlue);
    background-size: 600% 100%;
    -webkit-animation: bg-pan-left 3s both;
	        animation: bg-pan-left 3s both;

    #landing_logo {
        text-align: center;
        font-size: xx-large;
        line-height: 50vh;
        color: $fontWhite;
        -webkit-animation: text-focus-in 2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
                animation: text-focus-in 2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    }
}

@-webkit-keyframes bg-pan-left {
    0% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}
@keyframes bg-pan-left {
    0% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}
  