@import "./valiables.scss";

.login {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 0;
  .logo_container {
    width: 50%;
    margin: 90px auto;
    img {
      width: 100%;
    }
  }
  .form {
    .login_container {
      input[type=text] {
        @include inputText();
        @include inputTextTop();
      }
      input[type=password] {
        @include inputText();
        @include inputTextBottom();
      }
    }
    #login_btn {
      @include button($White, $Main1);
      margin-top: 30px;
    }
    #searchpw_btn {
      margin-top: 35px;
      font-size: $Small;
      color: $White;
      text-decoration: underline;
    }
    #signup_btn {
      @include button();
      margin-top: 100px;
    }
  }
}