@import './valiables.scss';

ul {
    padding: 40px 0px 0px 50px;
    li {
        padding: 5px 0px;
        * {
            color: $fontGray;
            text-decoration: none;
        }
        :hover {
            font-weight: bold;
        }
    }
}

#logoWrap {
    width: 100%;
    height: 90px;
    line-height: 90px;
    text-align: center;
    #logo {
        width: 80%;
        display: inline;
        margin: 0 auto;
        padding-top: 10px;
        font-size: 26px;
        line-height: normal;
        font-weight: bolder;
        color: $white;
    }
}

#link {
    width: 230px;
    height: calc(100% - 150px);
    top: 90px;
    background-color: $white;
    position: absolute;
    margin-left: 7px;
    border-radius: 0px 10px 10px 0px;
    border: 1px solid $shadowGray;
    ul {
        padding-top: 40px;
        padding-left: 40px;
        list-style-type: circle;
        li {
            padding: 10px 0px;
        }
    }
}