@import "./valiables.scss";

#profileWrap {
  #profile {
    width: 80%;
    #profileImage {
      width: 120px;
      height: 120px;
      object-fit: cover;
      border-radius: 120px;
      position: absolute;
      left: 10%;
      top: 140px;
    }
    .mainWrap {
      height: max-content;
      display: block;
      position: absolute;
      right: 10%;
      float: right;
      p {
        width: 100%;
        display: block !important;
        text-align: right;
        font-size: $SemiLarge;
      }
    }
    #updateInfo {
      @include button($White, $Main1, 120px, 30px);
      font-size: $Small;
      position: absolute;
      right: 10%;
      top: 240px;
    }
    #time {
      color: $White;
      font-size: large;
      text-align: center;
    }
  }
  #mypageUpdate {
    #mypageForm {
      .mypageInputWrap {
        * {
          font-size: $Normal;
        }
        text-align: center;
        #preview {
          width: 150px;
          height: 150px;
          margin-bottom: 10px;
          p {
            display: inline-block;
            width: 150px;
            font-weight: bold;
            text-align: center;
            padding-bottom: 20px;
          }
          img {
            width: 150px;
            height: 150px;
            object-fit: cover;
            border-radius: 150px;
          }
        }
        #fileBtn {
          @include button($Main1, $White, 80%, 40px);
          display: block;
          margin: 0 auto;
        }
        #inputDiv {
          line-height: 30px;
          input[type="file"] {
            position: absolute;
            width: 1px;
            height: 1px;
            padding: 0;
            margin: -1px;
            overflow: hidden;
            clip: rect(0, 0, 0, 0);
            border: 0;
          }
        }
        .pass1 {
          @include inputText();
          border: 1px solid $Gray;
        }
        .pass2 {
          @include inputTextBottom();
          border: 1px solid $Gray;
        }
      }
    }
  }
  #mypageList {
    text-align: center;
    margin: 70px auto;
    table {
      width: 40%;
      height: 80px;
      border: 1px solid $Gray;
      background-color: $White;
      display: inline-block;
      box-shadow: 3px 5px 5px 1px $Gray;
      padding: 5px 0;
      line-height: 30px;
      #icon {
        padding-top: 10px;
        padding-left: 20px;
      }
      #right {
        text-align: right;
        position: relative;
        right: -15px;
        color: $Main0;
        font-weight: 600;
        font-size: $Large;
      }
    }
    #partner {
      border-radius: 10px 0 0 10px;
    }
    #certification {
      border-radius: 0 10px 10px 0;
    }
    #logout {
      margin: 70px auto;
      text-decoration: underline;
      font-size: $Normal;
      color: $Main1;
      font-weight: 600;
    }
  }
}