@import './valiables.scss';

#profileWrap {
    text-align: center;
    padding-bottom: 100px;

    #profileTable, #mypageList {
        -webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	            animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    }
    #profileTable {
        margin: 0 auto;
        margin-top: 40px;
        margin-bottom: 10px;
        width: 100%;
        padding: 40px 0px;
        .td1 {
            width: 40%;
            img {
                width: 100px;
                height: 100px;
                border-radius: 100px;
            }   
        }
        .td2 {
            width: 60%;
            padding-left: 10px;
            text-align: left;
        }
    }
    #mypageList {
        text-align: left;
        width: 100%;
        border-collapse: collapse;
        tr{
            //background-color: $tableBack2;
            font-size: medium;
            font-weight: bold;
            border-top: 1px solid $tableBorder-;
            * {
                padding: 20px 35px;
                text-decoration: none;
                color: $fontGray;
            }
        }
        #logout {
            border-bottom: 1px solid $tableBorder-;
        }
        svg {
            float: right;
            padding-right: 0px;
        }
    }
    #mypageUpdate {
        #mypageForm {
                    animation: fadein 1s;
            -webkit-animation: fadein 1s;
            padding-top: 80px;
            width: 90%;
            color: $fontGray;
            font-size: $small;
            text-align: center;
            label {
                display: inline-block;
                width: 110px;
                font-weight: bold;
                text-align: right;
                padding-right: 5px;
            }
        }
    }
}