@import "./valiables.scss";

nav {
  width: 97%;

  position: fixed;
  bottom: 0;
  margin: 0 auto;
  left: 0;
  right: 0;

  background: linear-gradient(180deg, $Main3, $Main1);
  border-radius: 10px 10px 0 0;
  padding-top: 5px;
  padding-bottom: 15px;
  text-align: center;
  * {
    position: relative;
    text-decoration: none;
    color: $white;
  }
  .navItem {
    width: 19%;
    text-align: center;
    margin: 0 auto;
    display: inline-block;
    p {
      font-size: 10px;
    }
    a {
      display: inline;
    }
  }
}
