@import './valiables.scss';

#notice {
  .thumbnail {
    width: 90%;
    height: 250px;
    border: 1px solid $Gray;
    margin: 10px auto;
    position: relative;
    top: -180px;
    img {
      width: 80%;
      height: 300px;
      object-fit: cover;
    }
  }
  .content {
    width: 80%;
    height:max-content;
    position: relative;
    top: -170px;
    text-align: justify;
    padding: 20px;
    border: 1px solid $Gray;
    border-radius: 10px;
    .files {
      border-top: 1px solid $Gray;
      margin-top: 10px;
      #at_none, .filedown {
        text-align: center;
        margin: 10px auto 0 auto;
      }
    }
  }
}

.pagination-ul {
    width:100%;
    list-style-type: none;
    padding: 10px 0px 0px 0px;
    margin: 0 auto;
    position: absolute;
    //bottom: 25px;
    text-align: center;
    * {
        display: inline-block;
        margin: 0 auto;
        width: 30px;
        height: 30px;
        margin: 0 auto;
        text-align: center;
        border-radius: 30px;
        line-height: 30px;
        :hover {
            background-color: $BackGray;
            color: $fontWhite;
        }
    }
    .pageLabel-btn {
        width: 60px;
        margin: 0 5px;
        padding: 0;
        border: 1px solid $BackGray;
        * {
            width: 60px;
        }
        cursor: pointer;
    }
    .page-li {
        padding: 0;
        margin: 0 3px;
    }
    .currentPage {
        background-color: $BackSkyBlue;
        cursor: pointer;
        * {
            color: $fontWhite;
        }
    }
}

#noticeListWrap {
  #noticeList {
    #searchWrap {
      width: 85%;
      text-align: center;
      position: relative;
      top: -200px;
      .input {
        @include inputText();
        border: 1px solid $Gray;
        width: 89%;
      }
      #icon {
        position: absolute;
        top: 10px;
        right: -5px;
        color: $Main0;
      }
    }
    #list {
      position: relative;
      top: -200px;
      #resMessage {
        margin: 10px auto;
        text-align: center;
      }
    }
  }
}