@import './valiables.scss';

.pagination-ul {
    width:100%;
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    position: absolute;
    //bottom: 25px;
    text-align: center;
    * {
        display: inline-block;
        margin: 0 auto;
        width: 30px;
        height: 30px;
        margin: 0 auto;
        text-align: center;
        border-radius: 30px;
        line-height: 30px;
        :hover {
            background-color: $BackGray;
            color: $fontWhite;
        }
    }
    .pageLabel-btn {
        width: 60px;
        margin: 0 5px;
        padding: 0;
        border: 1px solid $BackGray;
        * {
            width: 60px;
        }
        cursor: pointer;
    }
    .page-li {
        padding: 0;
        margin: 0 3px;
    }
    .currentPage {
        background-color: $BackSkyBlue;
        cursor: pointer;
        * {
            color: $fontWhite;
        }
    }
}

#noticeList {
    margin-top: 60px;
    padding-bottom: 130px;
    text-align: center;
    #searchWrap {
        width: 80%;
        height: max-content;
        #input {
            width: 80%;
            height: 30px;
            border-radius: 10px;
            padding-left: 5px;
            font-size: $medium;
        }
        #icon {
            display: inline-block;
            margin: 0 auto;
            width: 10%;
            height: 20px;
            line-height: 30px;
            color: $fontGray;
        }
    }
}

#notice {
    width: 90%;
    margin-top: 80px;
    margin-bottom: 70px;
    * {
        width: 90%;
    }
}