@import "./valiables.scss";

#partnerWrap {
  #partner_table {
    text-align: center;
  }
  #partner_item {
    width: 40%;
    margin: 4.7%;
    text-align: center;
    display: inline-block;
    background-color: $Main2;
    border-radius: 20px;
    border: 1px solid $Gray;
    box-shadow: 1px 1px 5px 1px $Gray;
    .name {
      line-height: 30px;
      font-weight: 600;
      color: $White;
    }
    .detail {
      line-height: 30px;
      padding-bottom: 5px;
      color: $White;
    }
    .birth {
      line-height: 50px;
      background-color: $White;
      border-radius: 0 0 20px 20px;
    }
  }
}

.partner_form {
  text-align: center;
  padding-bottom: 70px;
  * {
    margin-bottom: 10px;
  }
  .main_comment {
    text-align: left;
  }
  select {
    width: 70%;
    border: 1px solid $Gray;
    border-radius: 10px 10px 0 0;
  }
  input[type="text"],
  input[type="date"] {
    @include inputText();
    border: 1px solid $Gray;
  }
  input[type="radio"] {
    display: none;
  }
  #genderChecked {
    @include button($Main1, $White, 30%, 40px);
    margin-bottom: 10px;
    display: inline-block;
  }
  #noneChecked {
    @include button($White, $Main1, 30%, 40px);
    margin-bottom: 10px;
    display: inline-block;
  }
  textarea {
    width: 70%;
    border: 1px solid $Gray;
    padding: 10px 20px 10px 20px;
    border-radius: 0 0 10px 10px;
  }
  .btn {
    @include button();
    width: 70%;
    display: block;
    text-align: center;
    margin: 0 auto;
  }
}
.partnerInputWrap {
  #preview {
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
    p {
      display: inline-block;
      width: 150px;
      font-weight: bold;
      text-align: center;
      padding-bottom: 20px;
    }
    img {
      width: 150px;
      height: 150px;
      object-fit: cover;
      border-radius: 150px;
    }
  }
}

#partner_detail {
  .partnerImage {
    width: 200px;
    height: 200px;
    margin: 20px auto 10px auto;
    img {
      width: 200px;
      height: 200px;
      object-fit: cover;
      border-radius: 200px;
    }
  }
  .sets {
    width: 80%;
    margin: 70px auto;
    padding-bottom: 90px;
    .set {
      color: $Main0;
      margin: 20px auto;
      .title {
        font-weight: 600;
        font-size: $SemiLarge;
      }
      .content {
        font-size: $Large;
      }
    }
    #buttons {
      text-align: center;
      * {
        width: 40% !important;
      }
      .updateBtn {
        @include button();
      }
      .deleteBtn {
        @include button($White, $Main1);
      }
    }
  }
}

input[type="file"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
#fileBtn {
  width: 150px;
  height: 30px;
  margin: 0px 10px;
  border-radius: 8px;
  text-align: center;
  background-color: $BackSkyBlue;
  color: $white;
}