@import './valiables.scss';

#ranking {
    width: 100%;
    height: 100%;
}

#items {
    padding-bottom: 130px;
    -webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    * {
        text-align: center;
        position: relative;
    }
    #rank, #name, #distance {
        font-weight: bold;
    }
}

.svg_wrapper {
    -webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    margin-top: 20px;
    text-align: center;
}

#p1 {
    width: 110px;
    left: calc(50% - 55px);
    position: absolute;
    display: inline;
    z-index: 1;
    #rank {
        font-size: $large;
    }
    #name {
        font-size: $large;
    }
    #dept {
        font-size: $small;
    }
    #stdId {
        font-size: $medium;
    }
    #distance {
        font-size: $x-large;
    }
}

#p2, #p3 {
    width: 90px;
    height: max-content;
    display: inline;
    top: 20px;
    #rank {
        font-size: $medium;
    }
    #name {
        font-size: $medium;
    }
    #dept {
        font-size: $x-small;
    }
    #stdId {
        font-size: $small;
    }
    #distance {
        font-size: $large;
    }
}

#p2 {
    float: left;
    left: 12px;
}

#p3 {
    float: right;
    right: 12px;
}

#p4, #p5, #p6, #p7, #p8, #p9, #p10 {
    width: 90%;
    margin: 20px auto;
    position: relative;
    top: 60px;
    #rank {
        width: 15%;
        font-size: $medium;
    }
    #profile {
        width: 25%;
    }
    #name {
        width: 60%;
        font-size: $medium;
    }
    #dept {
        width: 60%;
        font-size: $x-small;
    }
    #stdId {
        width: 60%;
        font-size: $small;
    }
    #distance {
        width: 60%;
        font-size: $large;
    }
}