@import './valiables.scss';

#ranking {
    width: 100%;
    height: 100%;
    .svg_wrapper {
        -webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
                animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
        margin-top: 20px;
        text-align: center;
    }
    #items {
        padding-bottom: 130px;
        -webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
                animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
        * {
            text-align: center;
            position: relative;
        }
        #rank, #name, #distance {
            font-weight: bold;
        }
    }
}

#p1, #p2, #p3 {
    #rank {
        font-size: $Normal;
        width: 25px;
        height: 25px;
        line-height: 24px;
        display: inline-block;
        color: #FFFFFF;
        border-radius: 25px;
    }
    #name {
        font-size: $Normal;
    }
    #dept {
        font-size: $SuperSmall;
    }
    #stdId {
        font-size: $Small;
    }
    #distance {
        font-size: $large;
    }
}

#p2, #p3 {
    width: 90px;
    height: max-content;
    display: inline;
    position: absolute;
    top: -80px;
    margin: 10px auto;
}

#p1 {
    #rank {
        background-color: #FFE400;
    }
    z-index: 1;
}

#p2 {
    #rank {
        background-color: #BDBDBD;
    }
    float: left;
    margin-left: 5%;
}

#p3 {
    #rank {
        background-color: #CCA63D;
    }
    float: right;
    margin-right: 5%;
}

#p4, #p5, #p6, #p7, #p8, #p9, #p10 {
    width: 90%;
    margin: 20px auto;
    position: relative;
    top: -50px;
    background-color: #ffffff;
    padding: 10px 0px;
    border-radius: 15px;
    box-shadow: 1px 1px 5px $shadowGray;
    #rank {
        width: 15%;
        font-size: $Large;
    }
    #name, #distance {
        width: 30%;
        font-size: $Normal;
    }
    #dept {
        width: 55%;
        font-size: $Normal;
    }
    #stdId {
        width: 55%;
        font-size: $Normal;
    }
}