@import "./valiables.scss";

#topBarContainer {
  height: 300px;
}

.register {
  .check_container {
    width: 80%;
    margin: 30px auto;
    text-align: justify;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 2px solid $Gray;
    @include checkBox();
    .total {
      .total_agree {
        font-size: large;
        font-weight: 600;
      }
      #explanation {
        width: 90%;
        margin-top: 10px;
        font-size: $Small;
        color: $Black;
      }
    }
    #check_ul {
      list-style: none;
      label {
        font-weight: 600;
      }
      .check_wrap {
        width: 92%;
        .go_icon {
          width: 30px;
          position: relative;
          float: right;
          text-align: center;
          margin: 0;
        }
      }
    }
  }

  .email_container {
    text-align: center;
    input[type=email] {
      @include inputTextBoth();
      border: 1px solid $Gray;
      margin-bottom: 20px;
    }
    .button1 {
      @include button();
    }
    .button2 {
      @include button($Gray, $White);
    }
    .message {
      margin: 20px auto;
    }
  }
}

#stipulation {
  width: 80%;
  text-align: justify;
  padding-bottom: 70px;
  .a {
    margin-top: 10px;
  }
}

.register_auth {
  .e_container {
    color: $White;
    margin-top: 20px;
    margin-bottom: 70px;
    text-align: center
  }
  .email_container {
    text-align: center;
    input[type=number] {
      @include inputTextBoth();
      margin-bottom: 30px;
      border: 1px solid $Gray;
      text-align: center
    }
    .button1 {
      @include button();
    }
    .button2 {
      @include button($Gray, $White);
    }
  }
}

.register_page {
  form {
    text-align: center;
    input[name="name"] {
      @include inputTextTop();
      border: 1px solid $Gray;
    }
    input[type=text],input[type=number],input[type=date],input[type=password],input[type=select] {
      @include inputText();
      border: 1px solid $Gray;
      font-size: $Normal;
      margin: 5px auto;
    }
    input[name="passwordCheck"] {
      @include inputTextBottom();
      border: 1px solid $Gray;
      margin: 0 auto;
    }
    .button1 {
      @include button();
    }
    .button2 {
      @include button($Gray, $White);
    }
  }
}