@import "./valiables.scss";

.Spinner_Wraper {
  z-index: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  background-color: $BackDarkGray;

  .spinner {
    position: absolute;
    margin: 0 auto;
    width: 50px;
    height: 50px;
    background-color: $white;
  }
}
