@import './valiables.scss';

.topBar {
    width:100%;
    height:15%;
    color: $white;
    background-color: $BackSkyBlue;
    margin: 0 auto;
    text-align: center;
    line-height: 40px;
}

#small {
    width: 100%;
    height: 15%;
    .center {
        width: 100px;
        height: 40px;
        text-align: center;
        margin: 0;
        display: inline-block;
    }
}

#big {
    width: 100%;
    height: 23%;
    .center {
        width: 100px;
        height: 40px;
        text-align: center;
        margin: 0;
        display: inline-block;
    }
}

.left {
    width: 40px;
    height: 15%;
    margin: 0;
    color: $white;
    float: left;
}

.right {
    width: 40px;
    height: 25%;
    margin: 0;
    color: $white;
    float: right;
}