//Background
$white : #f9f9f9;

$BackBlue : #0078FF;
$BackSkyBlue : #449eec;
$BackSky : #14D3FF;
$BackGray : #c2c2c2;

//input
$inputWhite : #fcfcfc;
$inputGray : #9d9d9d;

//font color
$fontGray : #434343;
$fontWhite : #fcfcfc;
$fontOrange : #FD8242;

//table
$tableBolder : #878787;
$tableBack1 : #e2e2e2;
$tableBack2 : #f6f6f6;

//shadow
$shadowGray : #bdbdbd;

//size
$xxx-small : 0.80em;
$xx-small : 0.85em;
$x-small : 0.9em;
$small : 0.95em;
$medium : 1.0em;
$large : 1.05em;
$x-large : 1.1em;
$xx-large : 1.15em;