//Background
$white : #f9f9f9;

$BackBlue : #0078FF;
$BackSkyBlue : #449eec;
$BackSky : #14D3FF;

//input
$inputWhite : #fcfcfc;
$inputGray : #b4b4b4;

//font color
$fontGray : #434343;
$fontWhite : #fcfcfc;
$fontOrange : #FD8242;

//table
$tableBolder : #878787;
$tableBack1 : #e2e2e2;
$tableBack2 : #f6f6f6;

//shadow
$shadowGray : #bdbdbd;